
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>The controller is: @ViewBag.Controller</div>
    <div>The action is: @ViewBag.Action</div>
    @*<div>
            @Html.ActionLink("This is an outgoing URL", "CustomVariable")
        </div>*@

    @*<div>
            @Html.ActionLink("This targets another controller", "OutgoingUrlRedirect", "Admin")
        </div>*@

    @*<div>
            @Html.ActionLink("This is an outgoing URL", "CustomVariable", new { id = "Hello" })
        </div>*@

    @*<div>
            @Html.ActionLink("Click me", "OutgoingUrlRedirect", "Admin", new { page = 123 },null)
        </div>*@

    @*<div>
            @Html.ActionLink("This is an outgoing URL", "Index", "Home",null, new { id="myAnchorID",@class="myCssClass"})
        </div>*@

    @*<div>
            @Html.ActionLink("This is an outgoing URL", "Index", "Home"
           ,"https","myserver.mydomain.com"," myFragmentName"
           , new { id="MyID"},new { id = "myAnchorID", @class = "myCssClass" })
        </div>*@

    @*<div>
            This is a URL: @Url.Action("Index","Home",new { id="MyID"})
        </div>*@

    @*<div>
            @Html.RouteLink("Click me", "MyOtherRoute", "Index", "Customer")
        </div>*@

    @*<div>
            This is a URL: @Url.Action("Index", "Home", new { id = "MyID" })
        </div>*@
    
    <div>
        This is a URL: @Html.ActionLink("Click me","GetLegacyURL"
                      , new { P_LegacyURL= "~/articles/Windows_3._Overview.html" })
    </div>

</body>
</html>
